html,
body {
     width:1200px;
    margin:0 auto;
    background:#A32424;
	}

div.leftcolumn a:link {
color:#A60000; 
text-decoration:none;}

div.leftcolumn a:visited {
color:#A60000; 
text-decoration:none;}

div.leftcolumn a:hover {
color:#FFF700;
text-decoration:none;}

div.leftcolumn a:active {
color:#A60000; 
text-decoration:none;}

div.rightcolumn a:link {
color:#FFFFFF; 
text-decoration:none;}

div.rightcolumn a:visited {
color:#FFFFFF; 
text-decoration:none;}

div.rightcolumn a:hover {
color:#4356E0;
text-decoration:none;}

div.rightcolumn a:active {
color:#FFFFFF; 
text-decoration:none;}

div.centerarea a:link {
color:#800B0B; 
text-decoration:none;}

div.centerarea a:visited {
color:#8A2D2D; 
text-decoration:none;}

div.centerarea a:hover {
color:#70C6D4;
text-decoration:none;}

div.centerarea a:active {
color:#800B0B; 
text-decoration:none;}


#body {
    width:1200px;
    margin:0 auto;
    background:#FFFFFF;

}

#header {
    padding:10px;
	color:#FFFFFF;
	font-size:30px;
    background:#4D0404;
	font-family:"Verdana";
}

#leftcolumn {
    float:left;
    width:240px;
    padding:10px;
    background:#2E2E2E;
	text-align:left;
	font-family:"Arial";
}

#main2{
    float:right;
    width:940px;
	background:#FFFFFF;
	
}

#centerarea {
    float:left;
    width:660px;
    padding:10px;
    background:#FFFFFF;
	text-align:left;
	font-family:"Verdana";
	font-size:15px;
}

#centerarea table {
	font-family:"Verdana";
    font-size:14px;
}

#rightcolumn {
    float:right;
    width:240px;
    padding:10px;
    background:#696969;
	text-align:center;
	font-family:"Verdana";
	font-size:13px;
}

#rightcolumntable table{
color:#FFFFFF;
font-family:"Verdana";
font-size:15px;
}

#footer {
    clear:both;
    padding:5px;
	background-color:#FFFFFF;
    color:#661B1B;
    text-align:center;
	font-family:"Times New Roman";
    font-size:12px;
}



